<!DOCTYPE html>
<html>
  <head>
    <title>Shopy Party</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="icon" href="https://emojipedia-us.s3.amazonaws.com/cache/41/b1/41b16339fa8a023787dc49810b2c46fa.png">

    <script src="https://use.fontawesome.com/e7bcebef54.js"></script>

  </head>
  <nav>
    <div class='navbar'>
      <div class='title'>
        <%= link_to "Shopy Party", root_url, :class =>"clear" %>
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
